<configuration>

	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>


	<appender name="FILE-ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>api.log</file>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>api.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>

			<maxFileSize>10MB</maxFileSize>
			<totalSizeCap>50MB</totalSizeCap>
			<maxHistory>5</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

    

	<appender name="LOKI"
		class="com.github.loki4j.logback.Loki4jAppender">
		<http>
			<url>http://10.1.1.8:3100/loki/api/v1/push</url>
		</http>
		<format>
			<label>
				<pattern>app=meteo-api,host=${HOSTNAME}</pattern>
			</label>
			<message>
				<pattern>%-5level [%.5(${HOSTNAME})] %.10thread %logger{20} | %msg
					%ex</pattern>
			</message>
		</format>
		
		    <verbose>true</verbose>
	</appender>


	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE-ROLLING" />

		<appender-ref ref="LOKI" />
		
	</root>

</configuration>